@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@1,100&family=Montserrat:ital,wght@1,300;1,400&family=Roboto+Condensed:wght@300&display=swap') ;

.login {
  align-items: center;
  background-color: rgb(47, 193, 140);
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameGold {
  color: gold;
  font-size: 30px;
}

.nameWallet {
  border-radius: 10px;
  color: blue;
}

.emailInput {
  background: white;
  border: 1px solid rgb(0, 59, 229);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Times New Roman, Times, serif;
}

.emailInput::placeholder {
  color: gray;
  font-size: 20px;
}

.passwordInput {
  background: white;
  border: 1px solid rgb(0, 59, 229);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Times New Roman, Times, serif;
}

.passwordInput::placeholder {
  color: gray;
  font-size: 20px;
}

.buttonEntrar {
  background: rgb(0, 59, 229);
  border: 1px solid rgb(0, 59, 229);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
}

.nameButton {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
