.thead {
  background: rgb(0, 59, 229);
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  height: 50px;
  width: 1155px;
}

.description {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.tag {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.methods {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.value {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.coins {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.cambio {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.convert {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.conversion {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.editDelete {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.buttonEdit {
  background: rgb(0, 59, 229);
  bottom: 31.03%;
}

.buttonDelete {
  background: rgb(0, 59, 229);
  bottom: 31.03%;
}

.tbody {
  background: rgb(0, 59, 229);
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
}

.description2 {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.tag2 {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.method2 {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.value2 {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.coin2 {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.cambio2 {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.convert2 {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.conversion2 {
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
